@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


/*
    PADRAO TODAS AS PAGINAS
*/
html,
body {
  height: 100%;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /*background: linear-gradient(to right,#1e87e8 , white);*/
    background-color: #d0d0d0;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blue{
    background-color: #71a0c8;
}

code {
    color: #665;
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}



/*
    FIM PADRAO TODAS AS PAGINAS
*/

/*
    LOGIN INICIO
*/

#h2-lgn {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    
}

#h2-lgn::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to right,#1e87e8 , white);
}

#form-lgn {
    display: flex;
    flex-direction: column;
}

#input-field-lgn{
    position: relative;
}

#input-field-lgn:first-child {
    margin-bottom: 1.5rem;
}

#input-field-lgn .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

#input-field-lgn .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right,#1e87e8 , white);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

#input-field-lgn input:focus ~ .underline::after {
    transform: scaleX(1);
}

#input-field-lgn input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

#input-field-lgn input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#form-lgn input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,#1e87e8 , rgb(0, 60, 109));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#form-lgn input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#1e87e8 , rgb(0, 60, 109));
}

#footer-lgn {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#footer-lgn a {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.9rem;
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
}

#footer-lgn a:hover{
    opacity: 0.9;
}


#footer-lgn span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}



#footer-lgn .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

#footer-lgn .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

#footer-lgn .social-field a {
    text-decoration: none;
    color: white;
}

#footer-lgn .social-field.google {
    background: linear-gradient(to right, #d11717, #ff3232);
}

#footer-lgn .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}


/*
    FIM LOGIN
*/


/*
    CADASTRO INICIO
*/

#h2-cad {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    
}

#h2-cad::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 45px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(to right,#1e87e8 , white);
}

#form-cad {
    display: flex;
    flex-direction: column;
}

#input-field-cad {
    position: relative;
    margin-bottom: 1.5rem;
}

#input-field-cad .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

#input-field-cad .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right,#1e87e8 , white);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}



#input-field-cad input:focus ~ .underline::after {
    transform: scaleX(1);
}

#input-field-cad input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

#input-field-cad input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#form-cad input[type="submit"] {
    margin-top: 1.0rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,#1e87e8 , rgb(0, 60, 109));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#form-cad input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#1e87e8 , rgb(0, 60, 109));
}

#form-cad a {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.9rem;
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
}

#form-cad a:hover{
    opacity: 0.9;
}


/*
    FIM CADASTRO
*/
/* 
    RECUPERAÇÃO INICIO
*/

#h2-rec {
    font-weight: 300;
    margin-bottom: 0.5rem;
    position: relative;
    
    
}

#form-rec {
    display: flex;
    flex-direction: column;
}

#span-rec {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    
}

#input-field-rec {
    position: relative;
    margin-top: 0.5rem;
}

#input-field-rec:first-child {
    margin-bottom: 1.5rem;
}

#input-field-rec .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

#input-field-rec .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right,#1e87e8 , white);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

#input-field-rec input:focus ~ .underline::after {
    transform: scaleX(1);
}

#input-field-rec input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

#input-field-rec input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#form-rec input[type="submit"] {
    margin-top: 0.1rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,#1e87e8 , rgb(0, 60, 109));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#form-rec input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#1e87e8 , rgb(0, 60, 109));
}

#footer-rec {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#footer-rec a {
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    font-size: 1.0rem;
    text-decoration: none;
   
}

#footer-rec a:hover{
    opacity: 0.9;
}



/* 
    FIM RECUPERAÇÃO
*/


/*
    REDEFINIR INICIO
*/


#h2-red {
    font-weight: 300;
    
    position: relative;
    text-align: center;
    
}


#span-red {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    
    
}

#form-red {
    display: flex;
    flex-direction: column;
}

#input-field-red {
    position: relative;
    margin-top: 0.3rem;

}

#input-field-red:first-child {
    margin-bottom: 1.5rem;
}

#input-field-red .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
#input-field-red .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right,#1e87e8 , white);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

#input-field-red input:focus ~ .underline::after {
    transform: scaleX(1);
}

#input-field-red input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

#input-field-red input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#form-red input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,#1e87e8 , rgb(0, 60, 109));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#form-red input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right,#1e87e8 , rgb(0, 60, 109));
}

/*
    FIM REDEFINIR
*/

